body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(to right, #FFEFBA, #f5f5f5);
}

h1 {
  margin: 0;
  margin-bottom: 15px;
  color: #001045;
  font-family: "Fredoka One", cursive;
}

.div-select { 
  width: 250px;
  overflow: hidden;
}

.div-select select {
  background: no-repeat linear-gradient(to right, #ffdb62, #FFEFBA);
  background-position: center;
  width: 270px;
  height: 48px;
  font-family: "Fredoka One", cursive;
  font-size: 17px;
  padding: 13px 20px 13px 12px;
  color: #001045;
  text-indent: 0.01px;
  text-overflow: "";
  border: none;
}

.input {
  background: no-repeat linear-gradient(to right, #FFEFBA, #ffdb62);
  background-position: center;
  width: 270px;
  height: 20px;
  font-family: "Fredoka One", cursive;
  font-size: 16px;
  padding: 13px 20px 13px 12px;
  color: #001045;
  text-indent: 0.01px;
  text-overflow: "";
  border: none;
}


.equals {
  font-weight: bold;
  font-size: 2rem;
  color: #001045;
}